.content h2{
    font-size:40px;
    border-bottom:3px solid green;
    margin:0 0 20px;
    padding:10px 0;
    color:white;
    text-align: center;
    
    
}
table{
    width:90%;
    font-size:20px;
    padding:0 0;
    margin-left:60px;
    border:2px solid green;
    overflow:hidden;
	color:white;
}


input[type=text] {
    
	height:3px;
    color:white;
	font-weight:bold;
    font-size:18px;
    text-align:center;

    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
	border: 3px solid green;
    outline: none;
    background: none;	
    width:120;
}
input[type=date] {
    
	height:3px;
    color:white;
	font-weight:bold;
    font-size:18px;

    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
	border: 3px solid green;
    outline: none;
    background: none;
	
}

input[type=textarea] {
    
    height:100px;
    color:white;
    font-weight:bold;
    font-size:18px;
    //padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid green;
    outline: none;
    background: none;
    margin:0;	
    }

select{
    background:none;
    border:3px solid green;
    color: white;
    font-size: 18px;
    font-weight:bold;
    height: 35px;
    

}



.button{
    width: 150px;
    background: none;
    border: 2px solid #008000;
    color: white;
    font-weight:bold;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    float:right;
  }



