
.content h2{
    font-size:40px;
    border-bottom:3px solid green;
    margin:0 0 20px;
    padding:10px 0;
    color:white;
    text-align: center;
    
    
}

table{
    width:100%;
    font-size:20px;
    padding:0 0;
    margin:0px;
    border:2px solid green;
    overflow:hidden;
}

td{
    color:white;
    font-size: 22px;
    padding:5px;
    text-align: center;
    border:2px solid green;
}

tr{
    //border:2px solid green;
}

.button{
    width: 150px;
    background: none;
    border: 2px solid #008000;
    color: white;
    font-weight:bold;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 0;
    float:right;
  }
